<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%=title%>
  </title>
  <style>
    body {
      background-color: skyblue;
    }

    h2 {
      font-size: 30px;
      color: gold
    }
  </style>
</head>

<body>
  <header>
    <h2>
      <%=title%>
    </h2>
  </header>
  <div>
    <p><%-content%></p>
  </div>
</body>

</html>